 <div class="center unit">
  <h1>Welcome to DentLog</h1>

  <h2>
    The easiest way to manage your dental practice in the cloud!
  </h2>

  <%= link_to "Sign up now!", 'signup_path', class: "btn btn-large btn-primary" %>
</div>